/* Config Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    background-color: #84E1AD;
    height: 100%;
    font-size: 16px;
}

main {
    background-color: white;
    height: 100%;
    margin: 0 12rem 0 12rem;
}

header {
    background: linear-gradient(to bottom, #39CD7B, rgb(6, 94, 42));
}
/* Config dos Titulos */
h1 {
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.473);
}

h2 {
    color: #286544;
    text-transform: uppercase;
    font-size: 40px;
    padding: 0.9rem 0 0 0.9rem;
}

h3 {
    color: #286544;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0.9rem 0 0 0;
}

p{
    padding-top: 1.5rem;
}

img {
    width: 100%;
}

/* Config da Lista */
ul {
    list-style-type: none;
    margin: 1.5rem 0 .5rem .5rem;
}

    ul li {
        font-size: 15px;
    }
    
/* Config do Footer */
footer {
    background-color: #286544;
    color: white;
    text-align: center;
    padding: .5rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.473);
}

/* Classes universais */
.green {
    color: #286544;
}

.space {
    padding-left: 2.8rem;
}

.containerText{
    font-size: 18px;
    padding-left: .5rem;
}

/* Incio */
#titleHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
}

    #titleHeader p {
        padding-top: 2rem;
        font-size: 25px;
        font-weight: 400;
        color: white;
        text-align: center;
        text-shadow: 1px 2px rgba(0, 0, 0, 0.342);
    }

#textNav {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}

    #textNav h4{
        color: white;
        padding: 3rem 0 .5rem 0;
        text-shadow: 1px 2px rgba(0, 0, 0, 0.342);
    }

    #textNav h4:hover {
        color: #9cc0acb6;
        cursor: pointer;
    }

#divContainer {
    margin: 0 2.5rem 0 3rem;
}

/* Config do Video */
#video {
    background-color: #286544;
    margin:0 12rem 0 12rem;
    padding: 1.5rem 1.5rem ;
    text-align: center;
}

/* Config do Article */
article {
    padding: 1.5rem 1.5rem;
}

    article >#divArticle1 {
        background-color: #2FA866;
        color: white;
        padding: 1.5rem;
        border-radius: 10px 10px 0 0;
    }

    #articleContainer {
        background-color: white;
        margin:0 12rem 0 12rem;

    }

        #divArticle2 {
            background-color: #C5EBD6;
        }

    #listArticle {
        display: grid;
        grid-auto-flow: column;
    }